<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/orderStyles.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Home</a></h1>
            <h1><a href="{{ url_for('orders_analysis') }}">Order Analysis</a></h1>
            <h1><a href="{{ url_for('sales_analysis') }}">Sales Analysis</a></h1>
        </div>
    </header>

    <section class="main-content">
        <div class="container">
            <div class="charts-container">
                <div class="chart-container">
                    <h2>Sales Summary</h2>
                            {% for key, value in sales_summary.items() %}
                            <div class="card">
                                <strong><h3>{{key}}</h3></strong><br></hr>
                                {{value}}
                            
                            </div>
                            {% endfor %}
                        </ul>
                </div>

                <div class="chart-container">
                    <h2>City Wise Sellers</h2>
                    <canvas id="cityWiseSellers" width="400" height="300"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Payment Types</h2>
                    <canvas id="paymentTypes" width="400" height="300"></canvas>
                </div>

                <div class="chart-container">
                    <h2>Order Status</h2>
                    <canvas id="ordersStatusChart" width="400" height="300"></canvas>
                </div>

                <div class="chart-container">
                    <h2>Top 10 Products sold per category</h2>
                    <canvas id="topTenCategory" width="400" height="300"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Bottom 10 Products sold per category</h2>
                    <canvas id="bottomTenCategory" width="400" height="300"></canvas>
                </div>
                
                
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; BI360</p>
        </div>
    </footer>

    <!-- <script src="script.js"></script> -->
    <!-- <script src="{{ url_for('static',filename='script.js') }}"> </script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    fetch('/city_wise_sellers')
        .then(response => response.json())
        .then(data => {
            const cities = Object.keys(data);
            const cityCount = Object.values(data);

            var cityWiseSellersBar = {
                labels: cities,
                values: cityCount,
                backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(102, 153, 255, 0.5)',
                'rgba(153, 200, 100, 0.5)',
                'rgba(153, 102, 150, 0.5)',
                'rgba(153, 115, 288, 0.5)',
                'rgba(153, 255, 102, 0.5)',
                ],
                borderWidth: 1
                };

            new Chart(document.getElementById('cityWiseSellers'), {
                type: 'bar',
                data: {
                    labels: cityWiseSellersBar.labels,
                    datasets: [{
                        label: "City Wise Sellers",
                        data: cityWiseSellersBar.values,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
});

document.addEventListener('DOMContentLoaded', function () {
    fetch('/top_products_sold_per_category')
        .then(response => response.json())
        .then(data => {
            const products = Object.keys(data);
            const orders = Object.values(data);

            var soldPerCategory = {
                labels: products,
                values: orders,
                backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(102, 153, 255, 0.5)',
                'rgba(153, 200, 100, 0.5)',
                'rgba(153, 102, 150, 0.5)',
                'rgba(153, 115, 288, 0.5)',
                'rgba(153, 255, 102, 0.5)',
                'rgba(112, 224, 162, 0.5)',
                ],
                borderWidth: 1
                };

            new Chart(document.getElementById('topTenCategory'), {
                type: 'bar',
                data: {
                    labels: soldPerCategory.labels,
                    datasets: [{
                        label: soldPerCategory.labels,  
                        data: soldPerCategory.values,
                        backgroundColor: soldPerCategory.backgroundColor,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
});

document.addEventListener('DOMContentLoaded', function () {
    fetch('/bottom_products_sold_per_category')
        .then(response => response.json())
        .then(data => {
            const bottomProducts = Object.keys(data);
            const bottomOrders = Object.values(data);

            var bottomSoldPerCategory = {
                labels: bottomProducts,
                values: bottomOrders,
                backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(102, 153, 255, 0.5)',
                'rgba(153, 200, 100, 0.5)',
                'rgba(153, 102, 150, 0.5)',
                'rgba(153, 115, 288, 0.5)',
                'rgba(153, 255, 102, 0.5)',
                'rgba(112, 224, 162, 0.5)',
                ],
                borderWidth: 1
                };

            new Chart(document.getElementById('bottomTenCategory'), {
                type: 'bar',
                data: {
                    labels: bottomSoldPerCategory.labels,
                    datasets: [{
                        label: bottomSoldPerCategory.labels,
                        data: bottomSoldPerCategory.values,
                        backgroundColor: bottomSoldPerCategory.backgroundColor,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
});

document.addEventListener('DOMContentLoaded', function () {
    fetch('/orders_time_per_day')
        .then(response => response.json())
        .then(data => {
            const time = Object.keys(data);
            const count = Object.values(data);

            new Chart(document.getElementById('ordersTimeOfDay'), {
                type: 'bar',
                data: {
                    labels: time,
                    datasets: [{
                        label: 'Orders by Time of the Day',
                        data: count,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                color: 'rgb(255, 99, 132)'
                            }
                        }
                    }
                }
            });
        });
});

document.addEventListener('DOMContentLoaded', function () {
    fetch('/late_deliveries')
        .then(response => response.json())
        .then(data => {
            const deliverStatus = Object.keys(data);
            const deliveryPercentage = Object.values(data);
        
            var lateDeliveriesDataPie = {
                labels: deliverStatus,
                values: deliveryPercentage,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                ],
                // borderWidth: 1
                };
        
            new Chart(document.getElementById('lateDeliveries'), {
                type: 'pie',
                data: {
                    labels:  lateDeliveriesDataPie.labels,
                    datasets: [{
                        label:lateDeliveriesDataPie.keys,
                        data: lateDeliveriesDataPie.values,
                        backgroundColor: lateDeliveriesDataPie.backgroundColor,
                        // borderWidth: lateDeliveriesDataPie.borderWidth
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                color: 'rgb(255, 99, 132)'
                            }
                        }
                    }
                }
            });
        });
});

document.addEventListener('DOMContentLoaded', function () {
    fetch('/payment_types')
        .then(response => response.json())
        .then(data => {
            const paymentMethods = Object.keys(data);
            const paymentPercentage = Object.values(data);
            var paymentTypesDataPie = {
                labels: paymentMethods,
                values: paymentPercentage,
                backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                ],
                borderWidth: 1
                };
        
            new Chart(document.getElementById('paymentTypes'), {
                type: 'pie',
                data: {
                    labels:  paymentTypesDataPie.labels,
                    datasets: [{
                        data: paymentTypesDataPie.values,
                        backgroundColor: paymentTypesDataPie.backgroundColor,
                        borderWidth: paymentTypesDataPie.borderWidth
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    title: {
                        display: true,
                        text: 'Type of Payments'
                    }
                    
                }
            });
        });
});



    </script>

</body>
</html>